/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLOR VARIABLES */
:root {
    --primary-color: #103b99;
    --secondary-color: #444444;
    --text-light: #000000;
    --white: #ffffff;
    --max-width: 1200px;
    --transition3s: 0.3s;
    --transition5s: 0.5s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: var(--transition3s);
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.nav__logo img {
    display: flex;
    max-width: 36px;
}

.nav__logo span {
    display: none;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: var(--transition5s);
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    font-size: 1.2rem;
    color: var(--white);
}

.nav__links a:hover {
    color: var(--secondary-color);
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header {
        padding: 0;
        background-color: transparent;
    }

    .nav__logo span {
        display: flex;
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3rem;
        background-color: transparent;
        transform: none;
    }

    .nav__links a:hover {
        color: var(--primary-color);
    }
}